@{
    ViewData["Title"] = "Privacy Policy";
}

<section class="container py-5">
    <div class="d-flex justify-content-start align-items-center flex-wrap gap-5">
        <div class="card bg-danger" style="width: 250px;">
            <img src="https://giorgiacastioni.files.wordpress.com/2015/01/pizza-margherita-1.jpg" class="card-img-top bg-danger" alt="" style="height: 200px;">
            <div class="card-body">
                <h5 class="card-title fw-bold text-white">Margherita</h5>
                <p class="card-text">Best pizza margherita</p>
                <div class="d-flex justify-content-between align-items-center mt-5">
                    <div class="text-dark">5.00$</div>
                    <div class="btn btn-success">Acquista</div>
                </div> 
            </div>
        </div>
        <div class="card bg-danger" style="width: 250px;">
            <img src="https://www.anticogatoleto.com/shop/wp-content/uploads/2021/02/marinara-min-scaled.jpeg" class="card-img-top bg-danger" alt="..." style="height: 200px;">
            <div class="card-body">
                <h5 class="card-title fw-bold text-white">Marinara</h5>
                <p class="card-text">Best pizza marinara</p>
                <div class="d-flex justify-content-between align-items-center mt-5">
                    <div class="text-dark">5.00$</div>
                    <div class="btn btn-success">Acquista</div>
                </div> 
            </div>
        </div>
        <div class="card bg-danger" style="width: 250px;">
            <img src="https://nizza.ro/wp-content/uploads/2021/02/mimosa.jpg" class="card-img-top bg-danger" alt="..." style="height: 200px;">
            <div class="card-body">
                <h5 class="card-title fw-bold text-white">Mimosa</h5>
                <p class="card-text">best pizza mimosa</p>
                <div class="d-flex justify-content-between align-items-center mt-5">
                    <div class="text-dark">5.00$</div>
                    <div class="btn btn-success">Acquista</div>
                </div> 
            </div>
        </div>
        <div class="card bg-danger" style="width: 250px;">
            <img src="https://i0.wp.com/www.piccolericette.net/piccolericette/wp-content/uploads/2017/11/3244_Pizza.jpg?resize=895%2C616&ssl=1" class="card-img-top bg-danger" alt="..." style="height: 200px;">
            <div class="card-body">
                <h5 class="card-title fw-bold text-white">Wurstel e patatine</h5>
                <p class="card-text">Best pizza wurstel e patatine</p>
                <div class="d-flex justify-content-between align-items-center mt-5">
                    <div class="text-dark">5.00$</div>
                    <div class="btn btn-success">Acquista</div>
                </div> 
            </div>
        </div>
        <div class="card bg-danger" style="width: 250px;">
            <img src="https://www.pizzaontheroad.eu/wp-content/uploads/2020/01/cover-irevolino.jpg" class="card-img-top bg-danger" alt="..." style="height: 200px;">
            <div class="card-body">
                <h5 class="card-title fw-bold text-white">Salsiccia e friarielli</h5>
                <p class="card-text">Best pizza salsiccia e friarielli</p>
                <div class="d-flex justify-content-between align-items-center mt-5">
                    <div class="text-dark">5.00$</div>
                    <div class="btn btn-success">Acquista</div>
                </div> 
            </div>
        </div>
        <div class="card bg-danger" style="width: 250px;">
            <img src="https://cdn.shopify.com/s/files/1/0604/9103/8969/products/QUATTROFORMAGGI_720x.png?v=1638628394" class="card-img-top bg-dark" alt="..." style="height: 200px;">
            <div class="card-body">
                <h5 class="card-title fw-bold text-white">4 Formaggi</h5>
                <p class="card-text">Best pizza 4 formaggi</p>
                <div class="d-flex justify-content-between align-items-center mt-5">
                    <div class="text-dark">5.00$</div>
                    <div class="btn btn-success">Acquista</div>
                </div> 
            </div>
        </div>
        <div class="card bg-danger" style="width: 250px;">
            <img src="https://www.borgotto.it/wp-content/uploads/2020/11/pizza-la-porchetta.jpeg" class="card-img-top bg-danger" alt="..." style="height: 200px;">
            <div class="card-body">
                <h5 class="card-title fw-bold text-white">Porchetta e patatine</h5>
                <p class="card-text">Best pizza porchetta</p>
                <div class="d-flex justify-content-between align-items-center mt-5">
                    <div class="text-dark">5.00$</div>
                    <div class="btn btn-success">Acquista</div>
                </div> 
            </div>
        </div>
          <div class="card bg-danger" style="width: 250px;">
            <img src="https://www.lucianopignataro.it/wp-content/uploads/2023/02/O-Sarracin-Pizzeria-Diavola-640x480.webp" class="card-img-top bg-danger" alt="..." style="height: 200px;">
            <div class="card-body">
                <h5 class="card-title fw-bold text-white">Diavola</h5>
                <p class="card-text">Best pizza diavola</p>
                <div class="d-flex justify-content-between align-items-center mt-5">
                    <div class="text-dark">5.00$</div>
                    <div class="btn btn-success">Acquista</div>
                </div> 
            </div>
        </div>

    </div>
</section>